.entry {
    padding-bottom: 0;
    .entryPage {
        padding: 0 10%;
        overflow-y: scroll
    }
}

.newEntry {
    border: 1px solid $offWhite;
    padding: 10px 40px;
    margin-bottom: 20px;
    width: 100%;
    background: rgba(0, 0, 0, 0.719);
    font-size: 1rem;
    color: white;
    overflow-x: scroll;
    h3 {
        font-size: 1.3rem;
    }
    .catDate {
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
        border-bottom: 1px $offWhite solid;
        h4 {
            margin: 8px auto;
            font-style: oblique;
            font-weight: 100;
            width: 50%;
            margin: 8px 0;
        }
    }
    p {
        text-align: left;
        line-height: 120%;
    }
}