
.homePage,
.entry {
  border: 1px solid white;
  width: 610px;
  height: 98vh;
  margin: 10px auto;
  padding: 50px 0;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  font-size: 1.5rem;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30%;
}

a.button,
button {
  @include color($hoverText);
  text-shadow: none;
  font-weight: 300;
}

.button,
.signUp {
  border: none;
  background: transparent;
  color: white;
  text-decoration: none;
  padding: 5px 0;
  transition: 0.8s all;
  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.3);
    color: white;
  }
}