.homePage,
.entry {
  border: 1px solid white;
  width: 610px;
  height: 98vh;
  margin: 10px auto;
  padding: 50px 0;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  font-size: 1.5rem;
  .content {
    height: 70%;
    .actions {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}