
.homeLink,
.reOpen {
  font-size: 1.3rem;
  color: white;
  position: fixed;
  right: 0;
  top: 50%;
  opacity: 1;
  border: none;
  background: transparent;
  padding: 10px;
  transition: all 0.8s;
  &:hover,
  &:focus {
    transform: translateX(-10px);
    background: transparent;
    color: white;
  }
}

a.button,
button {
  @include color($hoverText);
  text-shadow: none;
  font-weight: 300;
}

.button,
.signUp {
  border: none;
  background: transparent;
  color: white;
  text-decoration: none;
  padding: 5px 0;
  transition: 0.8s all;
  box-shadow: none;
  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.3);
    color: white;
  }
}

.homeLink {
  top: 10px;
  right: 10px;
  font-size: 0.9rem;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px rgba(255, 255, 255, 0.6) solid;
  &:hover,
  &:focus {
      color: black;
      background-color: white;
      transform: translateX(0px);
  }
}


.goToSignUp {
  color: white;
  text-decoration: none;
  border-bottom: white 1px dotted;
  font-size: 0.8rem;
  text-shadow: 2px 2px 4px black;
}

.delete {
  font-size: 0.9rem;
  background: transparent;
}