html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'Sweet';
  src: local("Sweet"), url(../assets/SweetSans-Light.ttf) format("truetype");
}

body {
  background: black;
  font-family: 'Sweet', sans-serif;
  overflow-x: hidden;
}

.App {
  text-align: center;
  color: white;
}

.homeLink,
.reOpen {
  font-size: 1.3rem;
  color: white;
  position: fixed;
  top: 0;
  right: 48%;
  opacity: 1;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  padding: 8px 20px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.homeLink:hover, .homeLink:focus,
.reOpen:hover,
.reOpen:focus {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  background: transparent;
  color: white;
}

.reOpen.inactive {
  opacity: 0;
  top: 28%;
}

a.button,
button {
  font-family: 'Sweet', sans-serif;
  border: none;
  padding: 3px 25px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  text-shadow: 1px 1px 2px black;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
  color: white;
  font-weight: 600;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  text-shadow: none;
  font-weight: 300;
}

a.button:hover, a.button:active,
button:hover,
button:active {
  background: rgba(255, 255, 255, 0.9);
  color: black;
  text-shadow: none;
}

.button,
.signUp {
  border: none;
  background: transparent;
  color: white;
  text-decoration: none;
  padding: 5px 0;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button:hover, .button:focus,
.signUp:hover,
.signUp:focus {
  background: rgba(255, 255, 255, 0.3);
  color: white;
}

.homeLink {
  bottom: 10px;
  top: unset;
  right: 47%;
  font-size: 0.9rem;
  text-decoration: none;
  background: black;
  border: 1px rgba(255, 255, 255, 0.6) solid;
}

.homeLink:hover, .homeLink:focus {
  color: black;
  background-color: rgba(255, 255, 255, 0.562);
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.goToSignUp {
  color: white;
  text-decoration: none;
  border-bottom: white 1px dotted;
  font-size: 0.8rem;
  text-shadow: 2px 2px 4px black;
}

.delete {
  font-size: 0.9rem;
  background: transparent;
}

.homePage,
.entry {
  border: 1px solid white;
  width: 610px;
  height: 98vh;
  margin: 10px auto;
  padding: 50px 0;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1.5rem;
}

.homePage .content,
.entry .content {
  height: 70%;
}

.homePage .content .actions,
.entry .content .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu {
  width: 28%;
  height: 100vh;
  position: absolute;
  top: -45%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu h2 {
  font-size: 1.4rem;
  padding: 4%;
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.menu .link {
  font-family: 'Sweet', sans-serif;
  border: none;
  padding: 3px 25px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  text-shadow: 1px 1px 2px black;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
  color: white;
  font-weight: 600;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  width: 90%;
  padding: 3%;
  margin: 5px auto;
  text-decoration: none;
  background: black;
}

.menu .link:hover, .menu .link:active {
  background: rgba(255, 255, 255, 0.9);
  color: black;
  text-shadow: none;
}

.menu .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  background: transparent;
}

.menu .flex:hover, .menu .flex:focus {
  background: transparent;
  border: none;
}

.menu .flex .link {
  width: 49%;
  margin: 0;
}

.menu.active {
  top: 0;
  top: 45%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.menu.inactive {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.content,
.entryBubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-position: center;
}

.entry .inputField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 20px;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}

.entry .inputField .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.entry .inputField .flex .col {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.entry .inputField input {
  width: 100%;
  font-family: 'Sweet', sans-serif;
}

.entry .inputField #date {
  text-align: center;
}

.entry .inputField #title {
  height: 32px;
  padding: 4px 0 0 5px;
  font-family: 'Sweet', sans-serif;
  resize: none;
}

.entry .inputField #entry {
  height: 50%;
  font-family: 'Sweet', sans-serif;
  resize: none;
}

.submitDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submitDiv .submitButton {
  font-family: 'Sweet', sans-serif;
  border: none;
  padding: 3px 25px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  text-shadow: 1px 1px 2px black;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
  color: white;
  font-weight: 600;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  margin: 20px auto;
}

.submitDiv .submitButton:hover, .submitDiv .submitButton:active {
  background: rgba(255, 255, 255, 0.9);
  color: black;
  text-shadow: none;
}

label {
  margin: 10px 0;
}

.entry {
  padding-bottom: 0;
}

.entry .entryPage {
  padding: 0 10%;
  overflow-y: scroll;
}

.newEntry {
  border: 1px solid rgba(255, 255, 255, 0.562);
  padding: 10px 40px;
  margin-bottom: 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.719);
  font-size: 1rem;
  color: white;
  overflow-x: scroll;
}

.newEntry h3 {
  font-size: 1.3rem;
}

.newEntry .catDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px rgba(255, 255, 255, 0.562) solid;
}

.newEntry .catDate h4 {
  margin: 8px auto;
  font-style: oblique;
  font-weight: 100;
  width: 50%;
  margin: 8px 0;
}

.newEntry p {
  text-align: left;
  line-height: 120%;
}

.signupLogin {
  height: 60%;
}

.signupLogin form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50%;
  font-size: 1.2rem;
}

.signupLogin form .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.signupLogin form input {
  height: 32px;
  padding: 3px 10px 0 5px;
  border: 1px solid white;
  font-family: 'Sweet', sans-serif;
  font-size: 1rem;
}

.signupLogin form input[type=submit] {
  font-family: 'Sweet', sans-serif;
  border: none;
  padding: 3px 25px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  text-shadow: 1px 1px 2px black;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
  color: white;
  font-weight: 600;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.signupLogin form input[type=submit]:hover, .signupLogin form input[type=submit]:active {
  background: rgba(255, 255, 255, 0.9);
  color: black;
  text-shadow: none;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .menu.active {
    width: 50%;
  }
  .homeLink {
    display: none;
  }
  .homePage,
  .entry {
    width: 80vw;
    height: 97vh;
    padding: 50px 20px;
  }
  .reOpen {
    font-size: 1.5rem;
    right: 0;
    top: 0;
  }
  .homeLink {
    left: 0px;
    top: 25px;
    right: unset;
    border: none;
  }
}

/* Landscape phones and down */
@media (max-width: 650px) {
  .menu.active {
    width: 100%;
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
  }
  .menu.active h2 {
    border-right: 1px solid white;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .homePage,
  .entry {
    margin: 0;
    width: 100vw;
    height: 100vh;
    border: none;
  }
  h2 {
    margin: 0;
  }
  .entry .inputField {
    padding: 0;
    width: 95%;
  }
  .entry .inputField .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .entry .inputField .flex .col {
    width: 100%;
  }
  .entry .entryPage {
    padding: 0;
  }
  .entry .entryPage h2 {
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=styles.css.map */