html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'Sweet';
  src: local("Sweet"), url(../assets/SweetSans-Light.ttf) format("truetype");
}

body {
  background: black;
  font-family: 'Sweet', sans-serif;
  overflow-x: hidden;
}

.App {
  text-align: center;
  color: white;
}

.homePage,
.entry {
  border: 1px solid white;
  width: 610px;
  height: 98vh;
  margin: 10px auto;
  padding: 50px 0;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  font-size: 1.5rem;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 30%;
}

button {
  font-family: 'Sweet', sans-serif;
  border: none;
  padding: 3px 25px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid white;
  text-shadow: 1px 1px 5px black;
  color: white;
  font-weight: 600;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

button:hover, button:active {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  text-shadow: none;
}

.signUp {
  border: none;
  background: transparent;
}

.signUp::before {
  content: url(../assets/rose.svg);
  position: absolute;
  left: -50px;
}

.signUp:hover, .signUp:focus {
  background: rgba(255, 255, 255, 0.3);
  color: white;
}

.menu {
  width: 28%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.menu h2 {
  font-size: 1.5rem;
  padding: 4%;
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.7);
}

.menu .link {
  font-family: 'Sweet', sans-serif;
  border: none;
  padding: 3px 25px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid white;
  text-shadow: 1px 1px 5px black;
  color: white;
  font-weight: 600;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  width: 90%;
  padding: 3%;
  margin: 5px auto;
  text-decoration: none;
  background: black;
}

.menu .link:hover, .menu .link:active {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  text-shadow: none;
}

.menu .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  border: none;
  text-align: center;
}

.menu .flex:hover, .menu .flex:focus {
  background: transparent;
  border: none;
}

.menu .flex .link {
  width: 49%;
  margin: 0;
}

.menu.active {
  right: 0;
}

.menu.inactive {
  right: -500px;
}

.reOpen {
  font-size: 2rem;
  position: fixed;
  right: 0;
  top: 48%;
  opacity: 1;
  border: none;
  background: transparent;
  padding: 10px;
  margin: 10px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.reOpen:hover, .reOpen:focus {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  background: transparent;
  color: white;
}

.reOpen.inactive {
  opacity: 0;
  right: 28%;
}

.content,
.entryBubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
}

.entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-position: center;
}

.entry .inputField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 20px;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}

.entry .inputField .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.entry .inputField .flex .col {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.entry .inputField input {
  width: 100%;
  font-family: 'Sweet', sans-serif;
}

.entry .inputField #start {
  text-align: center;
}

.entry .inputField #title {
  height: 32px;
  padding: 4px 0 0 5px;
  font-family: 'Sweet', sans-serif;
}

.entry .inputField #entry {
  height: 80%;
  font-family: 'Sweet', sans-serif;
}

.entry .inputField input[type=submit] {
  background: transparent;
  margin: 10px auto;
  font-family: 'Sweet', sans-serif;
  border: none;
  padding: 3px 25px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid white;
  text-shadow: 1px 1px 5px black;
  color: white;
  font-weight: 600;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.entry .inputField input[type=submit]:hover, .entry .inputField input[type=submit]:active {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  text-shadow: none;
}

label {
  margin: 10px 0;
}
/*# sourceMappingURL=styles.css.map */